<header class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-px-3 tw-py-4">

	<ul class="tw-list-none tw-flex tw-flex-row tw-flex-nowrap tw-items-center tw-gap-4">
		@for (link of links; track $index) {
		<li>
			<a [routerLink]="['/'+link.path]" class="tw-relative tw-text-[#cccccc] hover:tw-text-[#ffffff] header-link">
				{{ link.name }}
			</a>
		</li>
		}
	</ul>

	<a href="/index.html" class="tw-text-2xl tw-text-white">
		Cinema
		<span>
			<strong>Plus</strong>
		</span>
	</a>

	<ul>
		<li>
			<form action="./search.html">
				<input type="search" name="search" id="search" placeholder="Search"
					class="tw-text-white tw-text-base tw-px-3 tw-py-2 tw-bg-[#3e3e3e8a] tw-backdrop-blur-xl tw-rounded-lg tw-border tw-border-[#ffffff2e]">
			</form>
		</li>
		<li>

		</li>
	</ul>

</header>
