<header class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-px-3 tw-py-4">

	<p-menubar [model]="items"></p-menubar>

	<a [routerLink]="['/']" class="tw-text-2xl tw-text-white">
		Cinema
		<span class="tw-text-blue-700 tw-font-black">Plus</span>
	</a>

	<div>
		<input type="search" name="search" id="search" placeholder="Search"
			class="lg:tw-flex tw-hidden tw-text-white tw-text-base tw-px-3 tw-py-2 tw-bg-[#3e3e3e8a] tw-backdrop-blur-xl tw-rounded-lg tw-border tw-border-[#ffffff2e]">
		<button (click)="searchVisible=!searchVisible"
			class="tw-flex lg:tw-hidden tw-text-white tw-text-base tw-px-3 tw-py-2 focus:tw-bg-[#3e3e3e8a] focus:tw-backdrop-blur-xl tw-rounded-lg focus:tw-border tw-border-[#ffffff2e]">
			<i class="pi pi-search"></i>
		</button>
	</div>

	@if (searchVisible) {
	<div class="tw-absolute tw-inset-0 tw-bg-[#00000024] tw-flex tw-flex-col tw-justify-center tw-items-center"
		(click)="searchVisible=false">
		<input type="search" name="search" id="search" placeholder="Search" click-stop-propagation
			class="tw-w-1/2 tw-text-white tw-text-base tw-px-3 tw-py-2 tw-bg-[#3e3e3e8a] tw-backdrop-blur-xl tw-rounded-lg tw-border tw-border-[#ffffff2e]">
	</div>
	}
</header>
