@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: Poppins;
	/* color: #cccccc; */
}

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: #424b578f;
	backdrop-filter: blur(7px);
}

.background-image {
	position: absolute;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -9999999999;
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 0.8) 90%,
		rgba(0, 0, 0, 0.59) 100%
	);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999999999;
}

.btn {
	background-color: #f4f4f9;
	border: none;
	text-align: center;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.btn-default {
	color: #ffffff;
	background-color: rgb(26 86 219/1);
}

.btn-default:hover {
	background-color: rgb(30 66 159/1);
}

.btn-secondary {
	color: rgb(17 24 39/1);
	background-color: rgb(255 255 255/1);
	border: 1px solid rgb(229 231 235/1);
}

.btn-secondary:hover {
	color: rgb(26 86 219/1);
	background-color: rgb(243 244 246/1);
}

.btn-alt {
	background: #40404042;
	color: #ffffff;
	border: 1px solid #40404042;
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
	background: #404040cf;
	color: #ffffff94;
	border: 1px solid #404040cf;
}

.btn-dark {
	color: rgb(255 255 255/1);
	background-color: rgb(31 41 55/1);
	border: 1px solid rgb(31 41 55/1);
}

.btn-dark:hover {
	background-color: rgb(17 24 39/1);
}

.btn-transparent {
	background-color: transparent;
	color: #ffffff;
}

.btn-transparent:hover {
	color: #ffffff;
}

.btn-no-border {
	border: none;
}

.btn-xs {
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.btn-small {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.btn-base {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.btn-large {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.btn-xlarge {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: 0.875rem;
	padding-top: 0.875rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.btn-rounded {
	border-radius: 9999px;
}

.with-icon {
	display: inline-flex;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}
/* ========================================== */
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.toast-top-center {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-center {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-left {
	top: 12px;
	left: 12px;
}
.toast-top-right {
	top: 12px;
	right: 12px;
}
.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}
.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}

/* toast styles */
.toast-title {
	font-weight: bold;
}
.toast-message {
	word-wrap: break-word;
}
.toast-message a,
.toast-message label {
	color: #ffffff;
}
.toast-message a:hover {
	color: #cccccc;
	text-decoration: none;
}
.toast-close-button {
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}
.toast-close-button:hover,
.toast-close-button:focus {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
.toast-container {
	pointer-events: none;
	position: fixed;
	z-index: 999999;
}
.toast-container * {
	box-sizing: border-box;
}
.toast-container .ngx-toastr {
	margin: 0 0 1rem 0;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	padding: 0.75rem;
	width: 300px;
	background-position: 15px center;
	background-repeat: no-repeat;
	background-size: 24px;
	color: #ffffff;
	backdrop-filter: blur(10px);
}
.toast-container .ngx-toastr:hover {
	opacity: 1;
	cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.ngx-toastr {
	background-color: #030303;
	pointer-events: auto;
}

.toast-close-button {
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 50%;
	background: transparent;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s, outline-color 0.2s;
}

.toast-close-button:hover {
	color: #ffffff;
}

.toast-title {
	font-weight: 500;
	padding: 0 2.5rem;
}

.toast-success {
	background-color: rgba(34, 197, 94, 0.16);
	border: solid rgba(21, 128, 61, 0.36);
	border-width: 1px;
	color: #22c55e;
}
.toast-success .toast-title,
.toast-success .toast-close-button {
	color: #22c55e;
}

.toast-error {
	background-color: rgba(239, 68, 68, 0.16);
	border: solid rgba(185, 28, 28, 0.36);
	border-width: 1px;
	color: #ef4444;
}

.toast-error .toast-title,
.toast-error .toast-close-button {
	color: #ef4444;
}

.toast-info {
	background-color: rgba(59, 130, 246, 0.16);
	border: solid rgba(29, 78, 216, 0.36);
	border-width: 1px;
	color: #3b82f6;
}

.toast-info .toast-title,
.toast-info .toast-close-button {
	color: #3b82f6;
}

.toast-warning {
	background-color: rgba(234, 179, 8, 0.16);
	border: solid rgba(161, 98, 7, 0.36);
	border-width: 1px;
	color: #eab308;
}

.toast-warning .toast-title,
.toast-warning .toast-close-button {
	color: #eab308;
}

.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: #000000;
	opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
	.toast-container .ngx-toastr.div {
		padding: 8px 8px 8px 50px;
		width: 11em;
	}
	.toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}
}
@media all and (min-width: 241px) and (max-width: 480px) {
	.toast-container .ngx-toastr.div {
		padding: 8px 8px 8px 50px;
		width: 18em;
	}
	.toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.toast-container .ngx-toastr.div {
		padding: 15px 15px 15px 50px;
		width: 25em;
	}
}
