@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: Poppins;
	color: #cccccc;
}

svg {
	width: 1.5rem;
	/* 24px */
	height: 1.5rem;
	/* 24px */
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.background-image {
	position: absolute;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -9999999999;
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 0.8) 90%,
		rgba(0, 0, 0, 0.59) 100%
	);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999999999;
}

.btn {
	background-color: #f4f4f9;
	border: none;
	text-align: center;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.btn-default {
	color: #ffffff;
	background-color: rgb(26 86 219/1);
}

.btn-default:hover {
	background-color: rgb(30 66 159/1);
}

.btn-secondary {
	color: rgb(17 24 39/1);
	background-color: rgb(255 255 255/1);
	border: 1px solid rgb(229 231 235/1);
}

.btn-secondary:hover {
	color: rgb(26 86 219/1);
	background-color: rgb(243 244 246/1);
}

.btn-alt {
	background: #40404042;
	color: #ffffff;
	border: 1px solid #40404042;
}

.btn-alt:hover,
.btn-alt:focus,
.btn-alt:active {
	background: #404040cf;
	color: #ffffff94;
	border: 1px solid #404040cf;
}

.btn-dark {
	color: rgb(255 255 255/1);
	background-color: rgb(31 41 55/1);
	border: 1px solid rgb(31 41 55/1);
}

.btn-dark:hover {
	background-color: rgb(17 24 39/1);
}

.btn-transparent {
	background-color: transparent;
	color: #ffffff;
}

.btn-transparent:hover {
	color: #ffffff;
}

.btn-no-border {
	border: none;
}

.btn-xs {
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.btn-small {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.btn-base {
	font-size: 0.875rem;
	line-height: 1.25rem;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.btn-large {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.btn-xlarge {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: 0.875rem;
	padding-top: 0.875rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.btn-rounded {
	border-radius: 9999px;
}

.with-icon {
	display: inline-flex;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 10px;
}
